@media (min-width: 750px) {
    .publicaciones-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr)); /* Columnas dinámicas */
      gap: 1vw; /* Espacio entre tarjetas */
      width: 100%; /* Ocupa todo el ancho disponible */
      max-width: 100%; /* Elimina la restricción de 20vw */
      justify-items: center; /* Centra las tarjetas en las celdas */
    }
    .noLibros{
        font-size: 1vw;
    }

    .title{
        font-size: 2vw;
    }
  }
  
  @media (max-width: 749px) {
    .publicaciones-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr)); /* Ajusta para pantallas pequeñas */
      gap: 1vw; /* Espacio entre tarjetas */
      width: 100%; /* Ocupa todo el ancho disponible */
      max-width: 100%; /* Elimina la restricción de 20vw */
      justify-items: center; /* Centra las tarjetas en las celdas */
    }

    .noLibros{
       
        font-size: 1vw;
    }

    .title{
        font-size: 2vw;
    }
  }