.registerForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 10px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
  }
  
  .registerForm input {
    padding: 10px;
  }
  
  .registerForm button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
  }
  